<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h3>Login</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form autocomplete="off" #f=ngForm>
      <mat-form-field class="col-12">
        <input matInput ngModel name="email"  required #email="ngModel" placeholder="Email">
      </mat-form-field>

      <mat-form-field class="col-12">
        <input [type]="hide ? 'password' : 'text'" matInput ngModel name="Password" #password required placeholder="Password" >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button [disabled]="!f.valid" (click)="login(email.value, password.value);"  mat-raised-button color="primary"
        class="col-1">Login</button>
    </form>

  </mat-card-content>

</mat-card>